<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.spring.dashboard.dao.DashBoardDao">
	<resultMap type = "task" id="taskRst">
		<result column = "task_key" property = "id"/>
		<result column = "task_type" property = "type"/>
		<result column = "task_open" property = "open"/>
		<result column = "member_name" property = "owner"/>
	</resultMap>
	<resultMap type = "calendar" id="calRst">
		<result column = "start1" property = "start"/>
		<result column = "end1" property = "end"/>
		<result column = "url" property = "urlLink"/>
	</resultMap>

	<select id="getCountCompleteTask" parameterType="String" resultType="int">
		SELECT COUNT(TASK_KEY) FROM TASK
		WHERE STATUS = '완료'
		  AND PROJECT_KEY = #{project_key}
	</select>

	<select id="getCountIncompleteTask" parameterType="String" resultType="int">
		SELECT COUNT(TASK_KEY) FROM TASK
		WHERE STATUS = '진행중'
		  AND PROJECT_KEY = #{project_key}
	</select>

	<select id="getProjectProgress" parameterType="String" resultType="float">
		SELECT PROGRESS FROM TASK
		WHERE TASK_TYPE = 'project'
		  AND PROJECT_KEY = #{project_key}
	</select>

	<select id="getComingSchedule" parameterType="String" resultMap="calRst">
		SELECT * FROM
			(SELECT TITLE, START1 FROM CALENDAR
				WHERE START1 >= SYSDATE
				AND PROJECT_KEY = #{project_key}
				ORDER BY START1 ASC)
		sub WHERE ROWNUM &lt;= 3
	</select>

	<select id="getProjectElapsedDate" parameterType="String" resultType="int">
		SELECT TRUNC(SYSDATE - START_DATE) FROM TASK
		WHERE PROJECT_KEY = #{project_key}
		  AND TASK_TYPE = 'project'
	</select>

	<select id="getProjectDday" parameterType="String" resultType="int">
		SELECT CEIL(END_DATE - SYSDATE) FROM TASK
		WHERE PROJECT_KEY = #{project_key}
		  AND TASK_TYPE = 'project'
	</select>

	<select id="getProjectEndDate" parameterType="String" resultType="String">
		SELECT END_DATE FROM TASK
		WHERE PROJECT_KEY = #{project_key}
		  AND TASK_TYPE = 'project'
	</select>
</mapper>

