<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.spring.gantt.dao.GanttDao">
	<resultMap type = "task" id="taskRst">
		<result column = "task_key" property = "id"/>
		<result column = "task_type" property = "type"/>
		<result column = "task_open" property = "open"/>
		<result column = "member_name" property = "owner"/>
	</resultMap>
	<resultMap type = "task_dep" id="taskDepRst">
		<result column = "dependency_key" property = "id"/>
		<result column = "start_source" property = "source"/>
		<result column = "end_target" property = "target"/>
		<result column = "dependency_type" property = "type"/>
	</resultMap>
	<select id="getTask" resultMap="taskRst">
		SELECT t.*, m.member_name
		FROM task t
		left JOIN member m ON t.member_key = m.member_key
		WHERE t.PROJECT_KEY = #{project_key}
	</select>

	<select id="taskDetail" resultMap="taskRst">
		SELECT * FROM TASK WHERE TASK_KEY = #{id}
	</select>

	<select id="getTaskDep" resultMap="taskDepRst">
		SELECT * FROM TASK_DEPENDENCY WHERE PROJECT_KEY = #{project_key}
	</select>

	<select id="getTaskMem" resultMap="taskRst">
		SELECT m.member_key ,m.member_name, p.start_date, p.end_date, p.project_key
		FROM MEMBER m
				 INNER JOIN TEAM_MEMBER tm ON tm.MEMBER_KEY  = m.MEMBER_KEY
				 INNER JOIN TEAM t ON t.team_key = tm.TEAM_KEY
				 INNER JOIN PROJECT p ON p.project_key = t.PROJECT_KEY
		WHERE p.PROJECT_KEY = #{project_key}
	</select>
	
	<insert id="insertTask" parameterType="task">


	</insert>
</mapper>