<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.spring.task.dao.TaskDao">
	<!-- 업무 출력 -->
	<select id="getTask" resultType="task">
			SELECT * FROM task
	</select>
	<insert id="insertRisk" parameterType="risk">
		insert into risk values (RISK_SEQ.nextval,#{project_key},#{task_key},#{registrant},#{type},#{possibility},#{priority})
	</insert>
</mapper>