<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="member" type="com.web.spring.vo.Member"/>
		<typeAlias alias="notice" type="com.web.spring.vo.Notice"/>
		<typeAlias alias="noticeSch" type="com.web.spring.vo.NoticeSch"/>
		<typeAlias alias="project" type="com.web.spring.vo.Project"/>
		<typeAlias alias="team" type="com.web.spring.vo.Team"/>
		<typeAlias alias="team_member" type="com.web.spring.vo.Team_Member"/>
		<typeAlias alias="calendar" type="com.web.spring.vo.Calendar"/>
		<typeAlias alias="task" type="com.web.spring.vo.Task"/>
		<typeAlias alias="task_dep" type="com.web.spring.vo.Task_Dependency"/>
		<typeAlias alias="dashboard" type="com.web.spring.vo.DashBoard"/>
		<typeAlias alias="inviteMember" type="com.web.spring.vo.InviteMember"/>
		<typeAlias alias="memberSch" type="com.web.spring.vo.MemberSch"/>
		<typeAlias alias="file" type="com.web.spring.vo.FileStorage"/>
		<typeAlias alias="chatList" type="com.web.spring.vo.ChatList"/>
		<typeAlias alias="chatMember" type="com.web.spring.vo.ChatMember"/>
		<typeAlias alias="chat" type="com.web.spring.vo.Chat"/>
		<typeAlias alias="approve" type="com.web.spring.vo.Approval"/>
		<typeAlias alias="risk" type="com.web.spring.vo.Risk"/>
      	<typeAlias alias="risk_response" type="com.web.spring.vo.Risk_Response"/>
      	<typeAlias alias="aop_error" type="com.web.spring.vo.AOP_Error"/>
	</typeAliases>
</configuration>
